/*基础要素*/
*{color:#ffffff;  transition:all 450ms;}
body{
  background-color:#993333;
  background-image:linear-gradient(#C99,#933);
  background-repeat:no-repeat;background-attachment:fixed;background-size:100% 100%; 
  font-size:16px
}
p{
  color:#ffffff;
  text-align:center;
  font-size: 2rem;
}
/*链接*/
a{
  color:#ffffff;
  text-decoration:underline;
  cursor: pointer;
}
a:hover { color:#ff9999;}
a:active { color:#ff0000;}
/*大选项*/
.a{
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align:center;
  font-size:4rem;
  border: 2px solid #993333;
  border-radius: 8px;
  background-image:linear-gradient(to right,#ffffff00,#ffffff40,#ffffff00);
  background-repeat:no-repeat;background-attachment:fixed;background-size:100% 100%;
}
.a:hover{border: 3px solid #ff9999; border-radius: 15px;transform:scale(1.01);background-image:radial-gradient(#ffffff40,#ff999940)}
/*警告*/
.warn{
  border: 5px solid #ff0000;
  border-radius: 10px;
  text-align:center;
  color:red;
  font-size:4rem;
}
/*页标题*/
h1,.m{
  text-align:center;
  font-size:3rem;
  font-weight: normal;
}
h2,.n{
  text-align:center;
  font-size:2rem;
  font-weight: normal;
}
nav-debug{
  font-size:5rem
}
header{
  font-size: 2rem;
  text-align: center;
  margin:1rem
}
footer{
  font-size:1rem;
}
/*文章*/
.t{
  text-indent:2rem;
  text-align:left;
  font-size:1.5rem
}
/*iframe*/
iframe{
frameborder:no;
border:0;
background-color:transparent;
}
/*图片*/
a>img:hover{transform:scale(1.05)}
